div.container {
    width: 100% !important;
}

div.cell_output {
    width: 100% !important;
}

div.cell {
    width: 100% !important;
}

div.text_cell_render {
    width: 100% !important;
}

div.input_area {
    width: 100% !important;
}

div.prompt.output_prompt {
    width: 100% !important;
}

p {
    font-size: 16px; /* Adjust as needed */
    font-family: inherit;
  }

  h1 {
    font-size: 34px; /* Adjust heading font size */
  }
  h2, h3, h4, h5, h6{

    font-size: 26px;
  }

  .copyright {
    font-size: smaller;
  }
  
  .author-name {
    font-size: 10px; /* Adjust as needed */
  }
  